<form [formGroup]="form">
  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">Código</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idCtrl.touched">Ingrese un código.</ion-note>
    </ion-item>
    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Título</ion-label>
      <ion-input inputmode="text" placeholder="Ingresar..." formControlName="tituloCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.tituloCtrl.touched">Ingrese un título.</ion-note>
    </ion-item>
    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Autor</ion-label>
      <ion-select formControlName="idautorCtrl">
        <ion-select-option *ngFor="let autor of listaAutores" [value]="autor.id">{{autor.nombre}}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="form.controls.idautorCtrl.touched">Seleccione un autor.</ion-note>
    </ion-item>
    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">N° de páginas</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="paginasCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.paginasCtrl.touched">Ingrese el N° de páginas.</ion-note>
    </ion-item>
  </ion-list>
  <ion-button expand="full" shape="round" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
    Guardar
  </ion-button>
</form>