<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Libros</ion-title>
    <ion-progress-bar *ngIf="cargandoLibros" type="indeterminate" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="cargarLibros()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let libro of listaLibros" button (click)="editar(libro)">
      <ion-note color="secondary" slot="start">{{ libro.id }}</ion-note>
      <ion-label>
        <h1>{{ libro.titulo }}</h1>
        <p>{{ libro.autor }}</p>
      </ion-label>
      <ion-badge slot="end">{{ libro.paginas }} pag.</ion-badge>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false" (didPresent)="cargarDatosEditar()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modoFormulario }} Libro</ion-title>
          <ion-buttons slot="end" (click)="modalVisible = false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div style="padding: 10px;">
          <app-formulario-libro (recargar)="cargarLibros()"></app-formulario-libro>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
